Host 192.168.50.10
  HostName 192.168.50.10
  User vagrant
  IdentityFile /Users/josephmuli/Repositories/stuff/vagrant-elk-setup/.vagrant/machines/kibana/virtualbox/private_key

Host 192.168.50.11
  HostName 192.168.50.11
  User vagrant
  IdentityFile /Users/josephmuli/Repositories/stuff/vagrant-elk-setup/.vagrant/machines/elastic/virtualbox/private_key

Host 192.168.50.12
  HostName 192.168.50.12
  User vagrant
  IdentityFile /Users/josephmuli/Repositories/stuff/vagrant-elk-setup/.vagrant/machines/logstash/virtualbox/private_key


Host 192.168.50.13
  HostName 192.168.50.13
  User vagrant
  IdentityFile /Users/josephmuli/Repositories/stuff/vagrant-elk-setup/.vagrant/machines/web1/virtualbox/private_key

Host 192.168.50.14
  HostName 192.168.50.14
  User vagrant
  IdentityFile /Users/josephmuli/Repositories/stuff/vagrant-elk-setup/.vagrant/machines/web2/virtualbox/private_key

